.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle at 50% 50%, #000200 43%, #008102 100%);
  color: #fff;
  font-family: 'Georgia', serif;
}

.content {
  text-align: center;
  max-width: 900px;
}

/* NARRADOR */
.narratorWrapper {
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 0 1rem;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.buttonRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

.pathButton {
  background-color: transparent;
  border: 2px solid #00ff00;
  color: #00ff00;
  padding: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  width: 300px;
  transition: 0.3s;
}

.pathButton:hover {
  background-color: #00ff00;
  color: #000;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.4);
}

.unlocked {
  border-color: #00ff00;
  color: #00ff00;
}

.skipAndUser {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
/* Container que segura User + NarratorControls */
.topRight {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;   /* espaço entre botões do narrador e o User */
}

/* Botões do narrador */
.narratorControls {
    display: flex;
    flex-direction: row;
    gap: 10px;
}