.wrapper {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    z-index: 500;
}

/* BORDA DE VIDA */
.lifeCircle {
    position: absolute;
    width: 80px;
    height: 80px;

    border-radius: 50%;

    /* VIDA CONTROLADA POR CSS */
    background: conic-gradient(
        #00ff00 var(--life),
        #222 0deg
    );

    padding: 5px; /* Espessura da borda */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Cria um buraco para o avatar */
    -webkit-mask: radial-gradient(circle 33px at center, transparent 40px, black 41px);
            mask: radial-gradient(circle 33px at center, transparent 40px, black 41px);

    transition: background 0.3s ease;
}

/* AVATAR INTERNO */
.avatar {
    width: 80px;
    height: 80px;

    background: #000;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

.avatar svg {
    width: 80px;
    height: 80px;
    color: #00ff00;
}


